AWS_ACCESS_KEY_ID=<YOUR_ACCESS_KEY_ID_HERE>
AWS_SECRET_ACCESS_KEY=<YOUR_SECRET_ACCESS_KEY_HERE>
AWS_DEFAULT_REGION=us-east-1

TRACECTRL_ENDPOINT=http://localhost:4317
TRACECTRL_SERVICE_NAME=agents-workflow
TRACECTRL_ENVIRONMENT=demo
